$maincolor: #c3ccff;

body {
  color: #555;
}

header {
  height: 80px;
  line-height: 80px;
  background-color: $maincolor;
  .logo {
    h1 {
      //   border: 1px solid red;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 10px;
    }
  }
  .menu-button {
    // background-color: skyblue;
    width: 80px;
    height: 80px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0) 1px;
    span {
      display: block;
      width: 50px;
      height: 3px;
      background-color: black;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      transition: all 0.3s;
      &:first-child {
        transform: translateY(-15px);
      }
      &:last-child {
        transform: translateY(15px);
      }
    }
    &.activ {
      border: solid #fff 1px;
      span {
        &:first-child {
          transform: rotate(-225deg);
          background-color: #fff;
        }
        &:nth-child(2) {
          opacity: 0;
          transform: translateX(10px);
        }
        &:last-child {
          transform: rotate(225deg);
          background-color: #fff;
        }
      }
    }
  }
  .overlay {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: $maincolor;
    transform: translateY(-330px);
    transition: all 0.4s;
    ul {
      text-align: center;
      // border: 1px solid red;
    }
    &.show {
      transform: translateY(0);
    }
  }
  .pc-menu {
    max-width: 1000px;
    margin: 0 auto;
    display: none;
    // border: 1px solid red;
    ul {
      width: 500px;
      display: flex;
      justify-content: space-evenly;

      // border: 1px solid red;
      margin-left: auto;
      li {
        list-style: none;
        text-align: center;
        width: 100px;
        // border: 1px solid red;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .pc-menu {
    display: block !important;
  }
  .overlay {
    display: none;
  }
  .menu-button {
    display: none;
  }
}
